# Add any directories, files, or patterns you don't want to be tracked by version control
__pycache__
.vscode
.venv
data/bibliometric
data/flickr-data
data/wikispeedia
data/hyp
data/evidences
data/images
kubernetes
.dockerignore
paper_figures
*DS_Store